.ProductSideMenu {
  display       : flex;
  flex-direction: row;
  position      : fixed;
  left          : 0;
  bottom        : 0;
  z-index       : 2;
}

.ProductSideMenu-button {
  all     : unset;
  width   : 2em;
  height  : 2em;
  bottom  : 0;
  
}

.ProductSideMenu-button_open {
  width     : 2em;
  height    : 2em;
  bottom    : 0;
  align-self: flex-end;

}

.ProductSideMenu-img {
  margin: auto;
  width : 100%;
}

.ProductSideMenu-list {
  width           : 0;
  height          : 91vh;
  margin          : 0;
  padding         : 0;
  overflow        : hidden;
  list-style-type : none;
  background-color: var(--accent-color);
  transition      : width 0.5s ease;
}

.ProductSideMenu-list_open {
  width: 10em;
}

.ProductSideMenu-list li {
  text-align: center;
  padding   : 0.5em 0em;
}