.products {
  padding         : 1em;
  background-color: var(--primary-color);
  color           : var(--text-color);
  text-align      : center;
}

.products h2 {
  margin-top   : 0;
  margin-bottom: 3em;
  font-size    : 2em;
}