:root {
  --primary-color  : hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 0%);
  --accent-color   : hsl(0, 0%, 90%);
  --text-color     : hsl(0, 0%, 0%);
  --button-color   : hsl(23, 91%, 44%);
  --button-shadow-color  : hsl(23, 91%, 34%);
  -moz-background-muter-index: 999;
}
