.ProductList {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap             : 0.5em;
}

.add-wishlist-link {
  text-decoration: none;
  display        : block;
  box-sizing     : border-box;
  height         : 100%;
}

.ProductList-container {
  background-color: var(--accent-color);
  color           : var(--text-color);
  padding         : 2em;
  border-radius   : 1em;
  display         : grid;
  grid-gap        : 0.5em;
  align-items     : center;
  position        : relative;
  box-sizing      : border-box;
  height          : 100%;
}

.ProductList-container h4 {
  margin: 0.5em 0;
}

.ProductList-img-box img {
  width : 11em;
  height: 15em;
}

.add-cart {
  background-color: var(--button-color);
  color           : var(--primary-color);
  box-shadow      : 0 3px var(--button-shadow-color);
  padding         : 0.6em;
  border          : none;
  outline         : none;
  width           : fit-content;
  margin-top      : auto;
  justify-self    : center;
}

.add-cart:active {
  box-shadow: 0 0 var(--button-shadow-color);
  transform : translateY(3px);
}

.add-wishlist {
  color           : var(--accent-color);
  background-color: var(--primary-color);
  border          : 1px solid var(--secondary-color);
  border-radius   : 50%;
  font-size       : 1em;
  padding         : 0.3em 0.6em;
  position        : absolute;
  top             : 0;
  right           : 0;
  margin          : 1em;
}

.add-wishlist:active {
  color: red;
}