.ProductList-container {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap             : 0.5em;
}

.product {
  background-color: var(--accent-color);
  color           : var(--text-color);
  padding         : 2em;
  border-radius   : 1em;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  position        : relative;
}

.product-img-box img {
  height: 15em;
}

.add-basket {
  background-color: var(--button-color);
  color           : var(--primary-color);
  box-shadow      : 0 3px var(--button-shadow-color);
  padding         : 0.6em;
  border          : none;
  outline         : none;
  margin-top      : auto;
  width           : fit-content;
}

.add-basket:active {
  box-shadow: 0 0 var(--button-shadow-color);
  transform : translateY(3px);
}

.add-wishlist {
  color           : var(--accent-color);
  background-color: var(--primary-color);
  border          : 1px solid var(--secondary-color);
  border-radius   : 50%;
  font-size       : 1em;
  padding         : 0.3em 0.6em;
  position        : absolute;
  top             : 0;
  right           : 0;
  margin          : 1em;
}

.add-wishlist-link {
  text-decoration: none;
  display        : block;
  display        : flex;
  flex-wrap      : end;
}

.add-wishlist:active {
  color: red;
}