@import "../../assets/style/variables.css";

header {
  background-color: var(--primary-color);
  color           : var(--text-color);
  display         : flex;
  align-items     : center;
  box-sizing      : border-box;
  width           : 100%;
  height          : 5em;
  padding         : 0 2em;
  margin-bottom   : 0.2em;
  z-index         : 2;
  top             : 0;
  box-shadow      : 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
  position        : sticky;
}

.img-logo {
  width : 10em;
  height: 4em;
}