.Search {
  width   : 50%;
  position: relative;
  z-index : 100;
}

.search-container {
  margin          : 0 auto;
  z-index         : calc(var(--background-muter-index) + 1);
  background-color: var(--primary-color);
  box-sizing      : border-box;
}

.search-container:has(.search-options-container__enabled) {
  outline      : 2px solid hsl(0, 0%, 0%);
  border-radius: 0.5em;
  width        : 100%;
  position     : absolute;
  top          : -1.4em;
  left         : 0;
  z-index      : 101;
}

.search-options-container {
  display: none;
}

.search-options-container h4 {
  margin-top: 0.5em;
}

.search-options-container__enabled {
  display   : block;
  text-align: center;
}

.search-form {
  margin: auto;
}

.search-box {
  display      : flex;
  text-align   : center;
  border-radius: 5px;
  overflow     : hidden;
}

.search-input {
  background-color: var(--accent-color);
  width           : 100%;
  height          : 3.2em;
  border          : none;
  outline         : none;
  text-align      : center;
}

.submit-button {
  border          : none;
  margin          : 0;
  background-color: var(--accent-color);
}

.loupe {
  height: 1.25em;
}

.search-options {
  list-style-type: none;
  padding-left   : 0;
}

.search-options li {
  margin-bottom: 0.5em;
}

.search-options li:hover {
  text-decoration: underline;
}