.Search {
  width   : 100%;
  position: relative;
  z-index : 101;
  --height: 3em;
  height  : var(--height);
  margin  : 0 1em;
}

.search-container {
  z-index         : calc(var(--background-muter-index) + 1);
  background-color: var(--primary-color);
  box-sizing      : border-box;
  width           : 100%;
  border-radius   : 0.5em;
  position        : absolute;
  left            : 0;
  top             : 0;
  
}

.search-options-container {
  display   : none;
  text-align: center;
}

.search-options-container h4 {
  margin-top: 0.5em;
}

.Search__enabled .search-options-container {
  display: block;
}

.search-form {
  margin: auto;
}

.search-box {
  display      : flex;
  text-align   : center;
  border-radius: 5px;
  overflow     : hidden;
}

.search-input {
  background-color: var(--accent-color);
  width           : 100%;
  height          : var(--height);
  border          : none;
  outline         : none;
  text-align      : center;
}

.submit-button {
  border          : none;
  margin          : 0;
  padding         : 0 0.5em;
  background-color: var(--accent-color);
}

.loupe {
  height: 1.25em;
}

.search-options {
  list-style-type: none;
  padding-left   : 0;
}

.search-options li {
  margin-bottom: 0.5em;
}

.search-options li:hover {
  text-decoration: underline;
}