.inform {
  background-color: var(--accent-color);
  color           : var(--text-color);
  padding         : 20px;
  display         : flex;
  flex-direction  : row;
  text-align      : start;
}

.inform ul {
  list-style-type: none;
  flex-grow      : 1;
  margin-right   : 2em;
  padding        : 0;
}

.inform h2 {
  margin-bottom: 1em;
  white-space  : nowrap;
  overflow     : hidden;
}

.inform li {
  margin-bottom: 0.4em;
}

.inform p {
  padding: 0;
  margin : 0;
}

.inform a {
  color          : var(--text-color);
  text-decoration: none;
}

.inform a:hover {
  text-decoration: underline;
}

.social-network-img {
  height      : 2em;
  margin: 0.5em 1em 0 0;
  transition: transform 0.3s;
}

.social-network-img:hover {
  transform: scale(1.4);

}

.payment-img {
  height: 4em;
}

@media (max-width: 1200px) {
  .payment {
    display: none;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {
  .inform {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .inform {
    flex-direction: column;
    text-align: center;
  }

  .social-network-img {
    margin-bottom: 1em;
  }
}