.header-nav-bar {
  height     : 100%;
}

.nav-bar-list {
  display       : flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin         : 0;
  padding        : 0;
  height         : 100%;
}

.nav-bar-list li {
  height: 100%;
}

.header-nav-bar-link {
  color          : var(--text-color);
  display        : flex;
  flex-direction : column;
  box-sizing     : border-box;
  text-decoration: none;
  align-items    : center;
  justify-content: center;
  height         : 100%;
  padding        : 0 0.4em;
  margin         : 0;
}

.link-text {
  text-align: center;
}

.nav-bar-list a:active {
  background-color: var(--accent-color);
  box-shadow      : 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icon-header {
  width : 2em;
  height: 2em;
}

@media (max-width: 768px) {
  .header-nav-bar {
    display: none;
  }
}
