.promotions {
  margin: 1em;
}

.promotions-container {
  padding              : 1em 2em;
  box-shadow           : 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom        : 2em;
  display              : grid;
  grid-template-columns: 2fr 1fr;
  gap                  : 2em;
}

.promotions-container img {
  width: 20em;
}

@media (max-width: 767px) {
  .promotions-container {
    display       : flex;
    flex-direction: column;
  }
}